<p id="notice"><%= notice %></p>

<h1>Listing Cost Entries</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Information</th>
      <th>Prix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cost_entries.each do |cost_entry| %>
      <tr>
        <td><%= cost_entry.name %></td>
        <td><%= cost_entry.information %></td>
        <td><%= cost_entry.display_ttc_price %></td>
        <td><%= link_to 'Show', cost_entry %></td>
        <td><%= link_to 'Edit', edit_cost_entry_path(cost_entry) %></td>
        <td><%= link_to 'Destroy', cost_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cost entry', new_cost_entry_path %>
