<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cost_entry.name %>
</p>

<p>
  <strong>Information:</strong>
  <%= @cost_entry.information %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @cost_entry.display_ttc_price %>
</p>

<%= render "profit_and_loss/comments/form" %>
<%= render @cost_entry.comments %>

<%= link_to 'Edit', edit_cost_entry_path(@cost_entry) %> |
<%= link_to 'Back', cost_entries_path %>
